body {
  place-items: center;
  background-color: #EDEFF2;
}

.container{
  align-items: center;
  text-align: center;
  margin-top: 2.8rem;
  margin-left: 3.5rem;
}

button {
  border-radius: 3rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.hide-poke{
  filter: brightness(0);
  pointer-events: none;
  margin-right: 2.5rem;
}

.form-control{
  margin-top: 1.5rem;
}
#img-pokemon{
  height: 15rem;
  width: 20rem;
}

.div-buton{
  margin-top: 1.5em;
  text-align: center;
}

.icoRefresh{
  margin-left: 1.6em;
  height: 3rem;
  width: 3rem;
}

.InfoPokemon{
  display: none;
}

.div-infoPer{
  align-items: center;
}

@media screen and (max-width:480px){
  .container{
    margin-top: 0rem;
    margin-left: 0rem;
  }
  .icoRefresh{
    margin-top: 1.5rem;
  }
  
}